@import "colors.css";
@import "common.css";
@import "header.css";
@import "navbar.css";

.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex:30%;
    padding:20px ;
    background-color:var(--color-primary-dark)
}
.main{
    flex: 70%;
   
   
}
.informacion {
    color: var( --color-primary-light);
    text-align: center;
}
.informacion a{
    color: var( --color-primary-light);
    text-decoration: none;

}

/* Sección somos */

.somos h2{
    color:var( --color-primary-light);
}
.somos p{
    line-height:2 ;
}
.carrera__title{
    color:var( --color-primary-light);
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards .cards__item {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.cards__item h3{
    color:var( --color-primary-light);
}
@media screen and (max-width: 700px){
    .navbar,.row{
        flex-direction: column;
    }
}

