@import "colors.css";
@import "common.css";
@import "header.css";
@import "navbar.css";
@import "footer.css";

.row{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex:30%;
    padding:20px ;
    background-color:var(--color-primary-dark)
}
.main{
    flex: 70%;
   
   
}
.informacion {
    color: var( --color-primary-light);
    text-align: center;
}
.informacion a{
    color: var( --color-primary-light);
    text-decoration: none;

}

/* Sección somos */

.somos h2{
    color:var( --color-primary-light);
}
.somos p{
    line-height:2 ;
}
.carrera__title{
    color:var( --color-primary-light);
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.cards .cards__item {
 
  width: 250px;
  flex-grow: 1;
  
    
}
.cards__item h3,.estudiante__title{
    color:var( --color-primary-light);
}
.estudiantes{
    margin-bottom: 20px;
}

@media screen and (max-width: 700px){
    .navbar,.row{
        flex-direction: column;
    }
}

